<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>

        <!-- Telegram Configuration -->
        <add key="TELEGRAM_API_TOKEN" value="8034716684:AAHqPPJv94jmMo1yOjeZgTNItNwBVoudQJk" />
        <add key="TELEGRAM_CHAT_ID" value="5498232352" />
		<!-- Telegram Chat ID nizi @raw_info_bot botuna mesaj atarak öğrenin, -->
		<!-- bildirimleri alabilmek için bildirim botu olan @MHRS_Randevu_Bulundu_Bot botuna -->
		<!-- telegram üzerindenilk mesajı sizin atmanız gerekli. İlk mesajı bot atamaz. -->

		<!-- IsLogging ON True/False -->
		<add key="isLogging" value="true" />

        <!-- Play an alarm sound when an appointment is found -->
        <add key="PlayAlarmOnFound" value="true" />

    </appSettings>
</configuration>

