<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>

        <!-- Telegram Configuration -->
        <add key="TELEGRAM_API_TOKEN" value="BURAYA_BOTFATHERDAN_TELEGRAM_API_TOKEN" />
        <add key="TELEGRAM_CHAT_ID" value="BURAYA_TELEGRAM_CHAT_ID" />
		<!-- Telegram Chat ID nizi @raw_info_bot botuna mesaj atarak öğrenin, -->
		<!-- bildirimleri alabilmek için @BotFather ile oluşturduğunuz bota -->
		<!-- telegram üzerinden ilk mesajı sizin atmanız gerekli. İlk mesajı bot atamaz. -->

		<!-- IsLogging ON True/False -->
		<add key="isLogging" value="true" />

        <!-- Play an alarm sound when an appointment is found -->
        <add key="PlayAlarmOnFound" value="true" />
        
		<!-- Şu andan kaç dakika sonrasına randevu bulunursa alınmasın? -->
		<add key="MinimumMinutesToAppointment" value="60" />
		
    </appSettings>
</configuration>
